html{
    scroll-behavior:smooth;
}

body{
    font-family:'Segoe UI',sans-serif;
    margin:0;
    padding:0;
    background:#F5F7FA;
    color:#0D2B45;
}

/* HEADER STICKY */
header{
    position:sticky;
    top:0;
    z-index:1000;
    background:#0D2B45;
    padding:15px 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.logo{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    transition:0.4s;
}

.logo:hover{
    transform:rotate(8deg) scale(1.05);
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-size:24px;
    font-weight:bold;
    position:relative;
    transition:0.3s;
}

/* pseudo-element */
nav a::after{
    content:"";
    width:0%;
    height:3px;
    background:#C6A75E;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.3s;
}

nav a:hover::after{
    width:100%;
}

nav a:hover{
    color:#C6A75E;
}

/* PORTADA */
#portada{
    background:linear-gradient(rgba(13,43,69,0.7),rgba(13,43,69,0.7)),
    url("azura.png");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:140px 20px;
}

#portada h1{
    font-size:52px;
    animation:aparecer 2s ease;
}

#portada p{
    font-size:28px;
    color:#C6A75E;
    animation:aparecer 3s ease;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:15px 30px;
    background:#C6A75E;
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.1);
    background:#a98a46;
}

/* SECCIONES */
section{
    padding:70px 20px;
    text-align:center;
}

h2{
    font-size:48px;
    color:#1E4F75;
}

/* MENU */
.item{
    position:relative;
    display:inline-block;
    width:220px;
    margin:15px;
    background:white;
    padding:15px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.4s;
}

.item:hover{
    transform:translateY(-10px);
}

.item img{
    width:190px;
    height:190px;
    object-fit:cover;
    border-radius:12px;
}

.item .info{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(13,43,69,0.95);
    color:white;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:0.4s;
}

.item:hover .info{
    opacity:1;
}

.info span{
    color:#C6A75E;
    font-size:22px;
    font-weight:bold;
}

/* GALERIA */
#galeria img{
    width:250px;
    height:250px;
    object-fit:cover;
    margin:10px;
    border-radius:15px;
    transition:0.4s;
}

#galeria img:hover{
    transform:scale(1.08) rotate(2deg);
}

/* CONTACTO */
#contacto{
    background:#1E4F75;
    color:white;
}

#contacto h2{
    color:#C6A75E;
}

/* FOOTER */
footer{
    background:#0D2B45;
    color:#C6A75E;
    text-align:center;
    padding:20px;
}

/* ANIMACION */
@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* RESPONSIVE */
@media(max-width:768px){

header{
    flex-direction:column;
}

nav a{
    display:block;
    margin:10px 0;
}

.logo{
    width:130px;
    height:130px;
}

#portada h1{
    font-size:38px;
}

h2{
    font-size:35px;
}

.item{
    width:90%;
}

.item img{
    width:100%;
    height:220px;
}

#galeria img{
    width:90%;
    height:auto;
}

}